/* color palette from <https://github.com/vuejs/theme> */
:root {
  --vt-c-white: #FBFAF5;
  --vt-c-black: #202333;
}

/* semantic color variables for this project */
:root {
  --color-background: var(--vt-c-white);
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-background: var(--vt-c-black);
    --color-raised: #2A2D3E;
    --color-text: var(--vt-c-white);
    --color-nav-raised: #2D3850;
    --color-nav-selected: #45A4FF;
  }
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  position: relative;
  font-weight: normal;
}

body {
  min-height: 100vh;
  color: var(--color-text);
  background-color: var(--color-background);
  transition: color 0.5s, background-image 0.5s;
  line-height: 1.6;
  font-family: Inter, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu,
    Cantarell, 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  font-size: 15px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#app {
  display: flex;
  flex-direction: row;
  align-items: center;
  text-align: center;
  color: black;
}

#input-container{
  display:flex;
  flex-direction: column;
  max-width: 400px;
}

.data-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 50px;
  width: 80vw;
}

.data-display{
  text-align: left;
}

.navbar{
  background-color: var(--color-raised);
  padding: 0px 20px;
  height: 100vh;
  width: 20vw;
  max-width: 300px;
  color: var(--color-text);
}

.nav-item{
  border-radius: 5px;
  padding: 5px 10px;
  margin: 25px 0px;
  transition: .2s ease;
  
}

.nav-item:hover, #nav-item-selected, .input-button:hover{
  color: var(--color-nav-selected);
  background-color: var(--color-nav-raised);
  cursor: pointer;
}

.grid-container{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80vw;
}

.grid{
  width: 90%;
  height: 90vh;
  display: grid;
  grid-template: 100px 100px 100px 300px / auto auto auto;
  gap: 5%;
}

.grid-item{
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  background-color: var(--color-nav-raised);
  color: var(--color-text);
  border-radius: 20px;
  transition: .2s ease;
}

.grid-item-title{
  font-size: 1.4rem;
  font-weight: 700;
  margin: 0px 5px;
}

.grid-item-data{
  font-size: 1.2rem;
  margin: 5px 5px;
}

.text-input, .input-button{
  background: none;
  width: 80%;
  border: solid 2px rgba(255,255,255,.1);
  border-radius: 4px;
  color: var(--color-text);
}

.text-input::placeholder{
  color: rgba(255,255,255,.5);
}

.input-button{
  transition: .2s ease;
  width: 80%;
  height: 20%;
  margin: 5px;
}

.input-button:hover{
  background-color: var(--color-background);
}